.mainContainer {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.section_error {
    text-align: center;
}

.mainContainer section {
    text-align: center;
}

.mainContainer section h2 {
    margin: 20px 0 10px 0;
}

.list {
    text-align: left;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.list_item {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
}

.list_item svg {
    color: #ff5e5e;
    font-size: 17px;
    margin: 0 10px;
}

.list_item_edit input {
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}


.list_item_edit svg {
    color: #262626;
    font-size: 25px;
    margin-left: 10px;
    vertical-align: middle;
}


.section_addButton {
    max-width: 150px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    background-color: #37aefa;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-out;
}


.add_content {
    display: block;
}

.add_content_inputs {
    display: flex;
    flex-direction: column;
    min-height: 150px;
}

.add_content input {
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.add_content button {
    padding: 5px 30px;
    cursor: pointer;
    color: white;
    background-color: #6c80ff;
    border-radius: 10px;
    outline: 0;
}

.Form__button button:hover {
    background-color: #92a0ff;
}
