.MainContainer {
    width: 100%;
    height: 100%;
    padding: 0 25px 100px 25px;
    text-align: center;
}

.Container_Header {
    margin: 50px 0;
}


.HowToStartSection {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    padding: 35px 45px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.HowToStartSection h2 {
    margin-bottom: 10px;
}



.Section_Icon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 35px 0;
    font-size: 60px;
    color: #37aefa;
}

.Section_CenterHeader {
    position: relative;
}

.Section_CenterHeader:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -30px;
    height: 3px;
    background-color: #e2e2e2;
}

.Section_PlanDescription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-top: 100px;
}

.Section_Button {
    max-width: 170px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    background-color: #37aefa;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.Section_Button:hover {
    transform: scale(1.1);
    transition: all 300ms ease-out;
}





@media (max-width: 1200px) {
    .Section_PlanDescription {
        display: block;
    }

}


@media (max-width: 768px) {
    .HowToStartSection {
        width: 100%;
        height: 100%;
        padding: 35px 10px;
    }
}
