.Feedback_singleCard {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 20px;
  background-color: #37aefa;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}


.Feedback_singleCard svg {
  font-size: 50px;
  color: white;
}


.singleCard_text {
  margin-top: 20px;
  color: white;
}

.singleCard_personContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  color: white;
}


.singleCard_person:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 10px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #e0e0e0;
}


@media (max-width: 1200px) {
  .singleCard_text {
    margin-top: 0;
  }

  .Feedback_singleCard {
    grid-template-rows: 1fr 2fr 1fr;
    max-width: 320px;
    margin: 0 auto;
    grid-column-gap: 0;
    grid-row-gap: 30px;
  }
}


@media (max-width: 900px) {
  .Feedback_singleCard {
    max-width: 280px;
  }
}


@media (max-width: 768px) {
  .Feedback_singleCard {
    max-width: 250px;
    margin: 50px auto;
  }

  .Feedback_singleCard svg {
    font-size: 40px;
    color: white;
  }
}


