.MainContainer {
    width: 100%;
    padding: 0 25px;
    text-align: center;
    position: relative;
}

.Container_Header {
    padding-top: 50px;
    color: white;
    font-size: 40px;
}


.Container_Content {
    margin-top: 260px;
}

.Content_Header {
    font-size: 25px;
    margin-bottom: 20px;
}

.Content_Description {
    font-size: 18px;
    margin-bottom: 25px;
}

.Content_Description p {
    margin-bottom: 5px;
}

.Content_Icon {
    font-size: 45px;
    color: #37aefa;
}



.Content_cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding: 20px 0 100px 0;
}

@media (max-width: 1200px) {
    .Content_cards {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 50px;
    }
}


@media (max-width: 768px) {
    .Content_cards {
        display: block;
    }
}


