.modal {
    position: fixed;
    top: 30vh;
    left: 40%;
    width: 30rem;
    min-width: 500px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    border-radius: 7px;
}

.modal h2 {
    margin: 0;
    padding: 10px;
    background: rgba(0, 66, 255, 0.73);
    color: white;
    border-radius: 7px 7px 0 0;
}

.modal button {
    padding: 5px 10px;
    background: rgba(255, 0, 0, 0.73);
    color: white;
    outline: none;
}

.modal__children {
    width: 100%;
    height: 100%;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    margin-bottom: 5px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}
