.navbar {
    display: flex;
    height: 55px;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #37aefa;
    box-shadow: 0px 6px 6px -5px rgba(0,0,0,0.75);
}


.navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo__image {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    box-shadow: 2px 2px 6px -2px black;
}

.logo__title {
    font-size: 20px;
    color: white;
    font-family: Forte;
    border-bottom: #ffffff 2px solid;
}


.navbar__links {
    display: flex;
    height: 100%;
}

.link_text {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    border-left: 2px solid #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
}

.link_text:hover {
    background-color: #77c3fd;
}

.banner {
    width: 100%;
}
