.mainContainer {
    padding: 0 20px;
    display: flex;
}
.section_left {
    display: block;
    width: 80%;
}

.section_singleColumn {
    display: grid;
    /*grid-template-columns: repeat(5, 1fr);*/
    grid-template-columns: 4fr 4fr 4fr 4fr 4fr 1fr;
    grid-column-gap: 5px;
    margin: 5px 0;
    text-align: center;
}

.section_singleColumn h2 {
    background-color: #50beff;
    color: white;
    padding: 10px 0;
    /*box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);*/
}

.section_singleColumn h2:nth-child(2n+2)  {
    background-color: #37aefa;
}

.section_singleColumn p {
    padding: 20px 0;
}

.section_singleColumn label {
    margin-left: 10px;
}

.singleColumn_name {
    font-size: 20px;
    font-weight: bold;
    background-color: #c7e6ff;
}

.singleColumn_date {
    font-size: 16px;
    background-color: #c7e6ff;
}

.singleColumn_dose {
    font-size: 16px;
    background-color: #c7e6ff;
}

.singleColumn_deleteIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    color: #ff5e5e;
}



.singleColumn_title {
    padding: 50px 70px;
    background-color: #cfcfcf;
}

.section_right {
    width: 20%;
}

.section_right_doctors {
    min-height: 300px;
    padding: 0px 15px;
    text-align: center;
}


.section_right_doctors_header {
    margin-bottom: 10px;
}

.singleDoctor_name svg {
    color: #37aefa;
    margin-right: 5px;
    vertical-align: middle;
}

.singleDoctor_phone svg {
    color: #00d400;
    margin: 0 5px 0 20px;
}

.singleDoctor_deleteIcon {
    margin-left: 30px;
    color: #ff5e5e;
    vertical-align: middle;
}


.addSection {
    margin: 20px 0;
    text-align: center;
}

.addSection_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSection_header svg {
    font-size: 25px;
}

.section_addButton {
    max-width: 150px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    background-color: #37aefa;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.section_addButton:hover {
    transform: scale(1.1);
    transition: all 300ms ease-out;
}

.section_addButton_text {
    font-weight: bold;
}
