.mainContainer h2 {
    text-align: center;
    color: #757575;
}

.Form__inputText {
    font-weight: bold;
    padding: 5px 0px 2px 0px;
}

.Form__inputsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 25px;
}

.Form__inputsContainer input {
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
}

.Form__button {
    display: flex;
    justify-content: center;
    /*margin-left: 20px;*/
}


.Form__button button {
    padding: 5px 30px;
    cursor: pointer;
    color: white;
    background-color: #6c80ff;
    border: 1px solid black;
}


.Form__button button:hover {
    background-color: #92a0ff;
}
