.Form__inputsContainer {
    margin: 10px;
}

.Form__inputsContainer p {
    margin-top: 10px;
}

.Form__button input {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    background: rgba(0, 66, 255, 0.73);
    color: white;
    border-radius: 10px;
    outline: none;
}
