.container {
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    background-color: #c8c8c8;
    box-shadow: 0px -4px 20px -5px rgba(0,0,0,0.75);
}

.container_footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.container_footer p {
    margin-top: 10px;
    color: #868686;
}
