* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*//#37aefa GŁÓWNY NIEBIESKI*/
/*#6c80ff; FIOLET*/
html {
  font-size: 10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
}

main {
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", serif;
}


p, span, li, a {
  font-family: "Comic Sans MS", sans-serif;
}
