.container {
    width: 100%;
    height: 100vh;
}

.container_buttons {
    display: flex;
    justify-content: center;
}


.container_buttons button {
    padding: 12px 25px;
    margin: 15px;
    background-color: #6c80ff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: all 300ms ease-out;
}

.container_buttons button:focus {
    outline: none;
}

.container_buttons button:hover {
    background-color: #92a0ff;
    transform: scale(1.1);
    transition: all 300ms ease-out;
}

.container_section {
    width: 35%;
    min-height: 250px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
}

.container_sectionWindow {
    display: flex;
    padding: 20px;
    justify-content: center;
}
